<h1>Champions</h1>

<% @champions.body.access("data").each_pair do |k,v| %>
  <p><%= k %>: key:<%= v.access("key") %> title:<%= v.access("title") %>
    tags:<%= v.access("tags") %> partype:<%= v.access("partype") %> 
    stats:<%= v.access("stats") %></p>
  

<% end %>